// Elements – styling for bare HTML elements

audio {
	width: 100%;
	margin: 10px 0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow: hidden;
	background-color: #f0f0f0;
	color: #444;
	font-size: 16px;
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	transition: background-color 250ms ease;
}

button {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: block;
	font-size: 1.25rem;
	padding: 8px 15px;
	border-radius: 3px;
	border: 0;
	color: #fff;
	background-color: #6c757d;
	cursor: pointer;
}

canvas {
	width: 100%;
	height: 100vh;
}

h2 {
	margin-bottom: 30px;
	text-decoration: underline;
}

img {
	max-width: 100%;
}

svg {
	max-width: 100%;
}

p, ul, ol {
	font-size: 1rem;
	line-height: 1.5;
}

input {
	font-size: 1.25rem;
	padding: 10px 15px;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

table {
	width: 100%;
	border: 1px solid #666;
	
	thead {
		font-weight: bold;
	}
	
	td {
		padding: 10px;
		border: 1px solid #ccc;
	}
}

select {
	font-family: 'Arial';
	font-size: 1.25rem;
	padding: 6px 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
	
	option {
		margin: 0;
	}
}

video {
	width: 100%;
	border: 0;
}