@import 'responsive';
@import 'mixins';
@import 'elements';

* {
	@include disable-highlight;
}

$button-color: #343a40;

.settings {
	
	select {
		width: 250px;
		text-align: center;
		display: block;
		margin: 30px auto;
		
		option {
			cursor: pointer;
		}
	}
}

.answers {
	border: 1px solid black;
	position: relative;
	background-color: #f0f0f0;
	margin-bottom: 50px;
	
	.time-cursor {
		width: 4px;
		background-color: blue;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
	
	.cells {
		display: flex;
		justify-content: center;
		min-height: 50px;
		
		.cell {
			display: flex;
			position: relative;
			flex-grow: 1;
    		flex-basis: 0;
			border: 1px solid #333;
			height: 75px;
			
			&.active {
				
				.overlay {
					display: block;
				}
			}
			
			.overlay {
				display: none;
				position: absolute;
				background-color: red;
				opacity: .25;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			
			button {
				border-radius: 0;
				width: 100%;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: lighten($button-color, 10%);
				
				&.sortable-chosen {
					background-color: $button-color;
				}
			}
		}
	}
}

.form-group {
	margin-bottom: 40px;
}

.step {
	display: none;
	
	&.center {
		text-align: center;
		
		.pagination {
			justify-content: center;
		}
	}
	
	&.active {
		display: block;
	}
}

.pagination, .controls {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	
	&.controls {
		justify-content: center;
	}
	
	&.right-align {
		margin-top: 50px;
		justify-content: flex-end;
	}
	
	.submit {
		background-color: #28a745;
	}
	
	.chord {
		margin: 50px 40px;
	}
	
	.chord, .submit {
		padding: 15px;
		min-width: 100px;
	}
	
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	
	.next {
		
		&.right {
			margin-left: auto;
		}
	}
}

.watch-video {
	
	.next {
		display: none; // Hide begin button until melody has started once
	}
	
	video {
		display: none;
		
		&.active {
			display: block;
		}
	}
}

.results-section {
	display: none;
}

#restart {
	margin-bottom: 10px;
}